<h2>Usuario: {{ user.psn_id }} Email: {{ user.email }} Avatar:</h1>
<img src="{{ user.pic_url}}" />

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table border=1>
	<tr>
	 <td align="left" > Nome do Jogo </td>
	 <td align="center" > </td>
    <td align="center" > % </td>
    <td align="center" > Platinum </td>
    <td align="center" > Gold     </td>
    <td align="center" > Silver   </td>
    <td align="center" > Bronze   </td>
	</tr>
{% for game in user_game_info %}
	<tr>
	 <td align="left" > <a href="game/{{ game.game.psn_id}}"> {{ game.game.name}} </a> </td>
	 <td align="center" > <img src="{{ game.game.pic_url}}" width=100 height=60/> </td>
    <td align="center" > {{ game.perc_done}}% </td>
    <td align="center" > {{ game.platinum}}  </td>
    <td align="center" > {{ game.gold}}      </td>
    <td align="center" > {{ game.silver}}    </td>
    <td align="center" > {{ game.bronze}}    </td>
	</tr>
{% endfor %}
</table>
